* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.forside-body {
    background-color: #D4DBE0;
    height: 1000px;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 25px;
}

.introduktion {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}

.login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 85px;
}

.login-overtekst {
    font-size: 18px;
    text-align: left;
    margin-bottom: 16px;
    margin-left: -110px;
}

.sort-kasse, .grå-kasse {
    height: 50px;
    width: 287px;
    border: 1px solid #707070;    
    text-align: center;
    padding: 15px;
    color: #FFFFFF;
}

.grå-kasse {
    background-color: #99A1A7;
}

.sort-kasse {
    background-color: #000000;
}

.grå-kasse:hover, .sort-kasse:hover {
    color: #383838;
    background-color: #FFFFFF;
    cursor: pointer;
}

.tilmeld-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 35px;
}

.tilmeld-overtekst {
    font-size: 18px;
    text-align: left;
    margin-bottom: 16px;
    margin-left: -35px;
}

.tekst-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35px;
}

.fordele-overskrift {
    padding: 10px;
    width: 287px;
    font-weight: 100;
    font-size: 18px;
}

.fordele-overskrift2{
    padding: 10px;
    width: 287px;
    font-size: 15px;
}

.fordele-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }

.fordele-container ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    font-size: 15px;
    margin-top: 10px;
    width: 287px;
}

.fordele-container ul li {
    margin-bottom: 10px;
    padding: 7px;
}

.fordele-container .checkmark {
    margin-right: 10px;
    color: #99A1A7; 
}

.udenlogin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.knap-link {
    text-decoration: none;
}

.login-kasse:hover {
    color: #383838;
    background-color: #FFFFFF;
    cursor: pointer;
}

.introduktion-tilmeldt {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 130px;
    margin-bottom: -50px;
    font-size: 30px;
}

.tekst-kasse{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    width: 287px;
    margin-bottom: 50px;
}

@media screen and (min-width:750px) {

    .introduktion {
        font-size: 50px;
    }
    
    .sort-kasse, .grå-kasse {
        height: 70px;
        width: 420px;
        padding: 22px;
        font-size: 23px;
    }

    .login-overtekst {
        font-size: 30px;
        margin-left: -130px;
    }

    .tilmeld-overtekst {
        font-size: 30px;
        margin-left: 0px;
    }

    .fordele-overskrift{
        font-size: 30px;
        width: 420px;
    }

    .fordele-overskrift2{
        font-size: 18px;
        width: 420px;
    }

    .fordele-container ul {
        width: 420px;
        font-size: 20px;
    }

    .fordele-container .checkmark {
        font-size: 20px;
    }
    
    .tekst-kasse{
        font-size: 25px;
        width: 420px;
    }
    
    .introduktion-tilmeldt {
        font-size: 50px;
    }
}
@media screen and (min-width:1024px) {
    .forside-body {
        height: 1200px;
    }
 }
