  /* galleri */ 
  * {box-sizing: border-box;}
  .mySlides {display: none;}
 
 .slideshowbillede {
   height: 30%;
   margin-bottom: -8px;
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 90%;
 }

 .slider{
    animation-name: slider;
    animation-duration: 1.5s;
 }

 @keyframes slider{
    from{opacity: .4;}
    to{opacity: 1;}
 }

 .dots{
    text-align: center;
 }

 .dot {
    text-align: center;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color:#D4DBE0;
    border-radius: 100%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active {
    background-color:#A2BDBD;
  }

  @media only screen and (min-width: 820px) {
    .slideshowbillede {
        height: 25%;
    }

    .dot {
        height: 14px;
        width: 14px;
  }
}