/* GENERELLE FARVER 
Logo = #3D1E1B
Tekst = #383838
Knapper = #000000
Klub NEYE = #A2BDBD
Baggrund = #FFFFFF
Login & tilmeld baggrund = #D4DBE0
Dropdown baggrund = #F6F6F6

TYPOGRAFI
H1 - H2 = Miller Headline | Regular
H3 > = Arquitecta Std | Book */
* {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Navigationsbar start*/
#menubar {
    
    background-color: #D5DBDF;
    border-color: #383838;
    display: flex;
    position: fixed;
    bottom: 0;
    overflow-x: auto;
    width: 100%;
    height: 10%;
    border: #383838;
    border-style: solid;
}

.punkt {
    display: flex;
    justify-content: center;
    width: 25%;
}

.icon1 {
    display: flex;
    height: 50px;
    margin-top: 14px;
}

.icon2 {
    display: flex;
    height: 80px;
    width: 80px;
}

.icon3 {
    display: flex;
    width: 40px;
    margin-top: 18px;
}

.icon4{
    display: flex;
    padding-top: 5px;
    width: 94px;
}
/*Navigationsbar slut*/

/*Logo*/
.real-logo{
    display: flex;
    justify-content: center;
    margin: 25px;
}
/* Logo slut*/

/*Slideshow start*/
/*Slideshow slut*/

/* bannershow start */ 
#banner-container {
    max-width: 100%;
    position: relative;
    background-color: #99A1A7;
    padding: 7px;
    display: flex;
    justify-content: center;
}

.rullendetekst {
    font-family: 'Times New Roman', Times, serif;
    color: #FFFFFF;
    font-size: 12px;
}
/* bannershow slut */ 

/*Kundeklub promovering på forside start*/
.promovering {
    display: flex;
    align-items: center;
    justify-content: center;

}

.klubpromo {
    font-size: 1.6rem;
    margin: 1rem;
}

.tilmeld {
    color: #FFFFFF;
    background-color: #000;
    width: 18rem;
    padding: 12px;
    cursor: pointer;
    transition: color 0.4s linear;
}

.tilmeld:hover {
    background-color: #FFFFFF;
    color: #000;
}
/*Kundeklub promovering på forside slut*/

/*Carousel start*/
.carousel {
    background-color: #A2BDBD;
    width: 100%;
    height: 400px;
    margin-top: 2rem;
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.hvidhest {
    background-color: white;
    width: 340px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.hest {
    display: flex;
    align-items: center;
}

.billederne {
        width: 300px;
        height: 300px;
    }

/* Carousel slut*/


/* Profil underside start*/

/*Tekst start*/
.txtstyr{
    margin: auto;
    width: 95%;
    padding: 10px;
}

.headline {
    font-weight: lighter;
    margin-bottom: 10px;
}

.pftxt {
    font-size: 14px;
    margin-bottom: 2rem;
}
/*Tekst slut*/
/*Profilundersider start*/

.pfdele {
    display: flex;
    flex-direction: column;
}

.pfbox {
    height: 65px;

}

.boxtxt {
    text-align: left;
    font-weight: lighter;
    margin-left: 15px;
}

.døda {
  text-decoration: none; /* Removes the underline */
  color: inherit; /* Inherits the text color from the parent element */
}

.indholdbox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.indholdbox > i{
    margin-right: 15px;
}


.reco {
    font-weight: lighter;
    margin-top: 3rem;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.bund {
    height: 560px;
}

/*Profilundersider slut*/

/*Fordeleunderside start*/

.logofor{
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.plads {
    margin-top: 20px;
}

.invis {
    visibility: hidden;
}

.kryds {
    align-items: right;
    width: 20px;
    height: 20px;
}

.bfarve {
    background-color: #99A1A7;
    width: 100%;
    height: 300px;
}

.headerstyr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.storheadline {
    display: none;
}

.tekstlille {
    font-weight: lighter;
    margin-bottom: 10px;
}

.stortekst {
    font-weight: lighter;
    margin-bottom: 10px;
    margin: 10px;
}

.h3txt {
    font-weight: lighter;
    margin-bottom: 10px;
    margin-top: 20px;
}

li {
    padding: 8px;
}

.same {
    display: flex;
    justify-content: flex-start;
}

.datoskrift {
    color: #99A1A7;
    font-size: 14px;
    margin-left: 2px;
}

.sep {
    margin-bottom: 20px;
}

.skriftyes {
    font-size: 14px;
}

.knapstyr {
    margin-top: 20px;
}

.benyt-styr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.fordele-liste {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    height: 600px;
}

.fordeleknap {
    color: #FFFFFF;
    background-color: #99A1A7;
    width: 18rem;
    padding: 12px;
    cursor: pointer;
    transition: color 0.4s linear;
    border-color: #99A1A7;
}

.fordeleknap:hover {
    background-color: #FFFFFF;
    color: #000;
    border-color: #000;
}

@media only screen and (min-width: 620px) {
    .benyt-styr {
        flex-wrap: wrap;
        align-items: center;
        margin: 0;
    }
}

@media only screen and (min-width: 820px) {
    .benyt-styr {
        align-items: normal;
        justify-content: normal;
    }

    .alfadiv {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .stortekst {
        margin: 0px;
    }

    .styralt {
        display: flex;
        flex-direction: column;
    }

    .bfarve {
        width: 400px;
        margin-top: 10px;
    }

}
/*Fordeleunderside slut*/

/*Ønskeliste start*/

.bagf{
    width: 40%;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    margin: 25px;
}

.liste-bag {
    width: 80%;
}

.oestyr{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.billed-tekst {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: auto;
}

@media only screen and (min-width: 820px) {
    .oestyr {
        flex-wrap: nowrap;
    }
}

/*Ønskeliste slut*/